html, body {
    height: 100%;
    font-family: Sans-Serif;
}

#sidebar {
    background-color: #ddd;
}

#tree {
    padding: 5px;
    background-color: #eee;
}

#tree .selected {
    background: #88f;
}

#spec {
    padding-top: 5px;
}

#tree button {
    position: absolute;
    right: 0;
    border: 0;
    padding: 0;
}


/* #main { */
/*     background-color: grey; */
/*     height: 100%; */
/*     width: 100%; */
/*     float: right; */
/* } */